<br>
<br>
<br>
<div class="container" *ngIf="car">
    <div class="row">
        <div class="col-lg-6" style="border-right: 3px solid darkgrey;">
            <img [src]="car.imageUrl" class="img-fluid" alt="Car image">
        </div>
        <div class="col-lg-6">
            <div><h3>Name: {{ car.name }}</h3></div>
            <div><h3>Manufacturer: {{ car.manufacturer }}</h3></div>
            <div><h3>Model: {{ car.model }}</h3></div>
            <div><h3>Category: {{ car.category }}</h3></div>
            <div><h3>Price Per Day: ${{ car.pricePerDay }}</h3></div>
            <div><h3>Climate Control: {{ car.hasClimateControl ? 'Yes' : 'No' }}</h3></div>
            <div><h3>Number of Seats: {{ car.numberOfSeats }}</h3></div>
            <div><h3>Has Automatic Transmission {{car.transmissionType}}</h3></div>
            <div><h3>Dealer Phone: {{ car.dealer.phoneNumber }}</h3></div>
            <div><h3>Dealer Name: {{ car.dealer.name }}</h3></div>
            <div><h3>Dealer Total Cars: {{ car.dealer.totalCars }}</h3></div>
            <div><a routerLink="/cars/rent/{{car.id}}?pricePerDay={{car.pricePerDay}}">Rent car</a></div>
        </div>
    </div>
</div>