<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <form  [formGroup]="form" (ngSubmit)="carUpdatedHandler()">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" formControlName="name">
                    </div>
                    <div class="form-group">
                        <label for="model">Model</label>
                        <input type="text" class="form-control" id="model" formControlName="model">
                    </div>
                    <div class="form-group">
                        <label for="imageUrl">Image URL</label>
                        <input type="text" class="form-control" id="imageUrl" formControlName="imageUrl">
                    </div>
                    <div class="form-group">
                        <label for="manufacturerName">Manufacturer Name</label>
                        <input type="text" class="form-control" id="manufacturerName" formControlName="manufacturerName">
                    </div>
                    <div class="form-group">
                        <label for="pricePerDay">Price Per Day</label>
                        <input type="text" class="form-control" id="pricePerDay" formControlName="pricePerDay">
                    </div>
                    <div class="form-group">
                        <label for="hasClimateControl"> Climate Control</label>
                        <select class="form-control" formControlName="hasClimateControl">
                          <option  [ngValue]="true">Yes</option>
                          <option  [ngValue]="false">No</option>
                        </select>              
                    </div>
                    <div class="form-group">
                        <label for="hasClimateControl">Transmission Type</label>
                        <select class="form-control" formControlName="hasAutomaticTransmission">
                          <option  [ngValue]="true">Automatic</option>
                          <option  [ngValue]="false">Manual</option>
                        </select>              
                    </div>
                    <div class="form-group">
                        <label for="seatsCount">Seats Count</label>
                        <input type="text" class="form-control" id="seatsCount" formControlName="seatsCount">
                    </div>
                    <div class="form-group">
                        <label for="categoryId">Select category</label>
                        <select class="form-control" formControlName="categoryId">
                          <option *ngFor="let c of categories" [ngValue]="c.id">{{c.name}}</option>
                        </select>
                      </div>
                    <br/>
                    <button class="btn btn-success">Update car</button>
                </form>
            </div>
        <div class="col-lg-4"></div>
    </div>
</div>
