<br>
<br>
<br>
<button class="btn btn-secondary" [routerLink]="'/dealers/edit/' + this.dealerId">Edit my profile</button>
<br>
<br>
<br>
<div class="row">
    <div class="col-md-4">
        <h1>Name: {{dealer.name}}</h1>
    </div>
    <div class="col-md-4">
        <h1>Phone Number: {{dealer.phoneNumber}}</h1>
    </div>
    <div class="col-md-4">
        <h1>Total Cars: {{dealer.totalCars}}</h1>
    </div>
</div>
<br>
<br>
<br>

<div class="row">
    <div class="col-md-9" >
		<div class="row">
			<div class="col-md-6" *ngFor="let c of cars">
				<div class="card">
					<img [src]="c.imageUrl" class="card-img-top" alt="Car image">
					<div class="card-body">
					  <h2 class="card-title">{{ c.name }}</h2>
					  <p class="card-text">Category: {{ c.category }}</p>
                      <p class="card-text">Model: {{ c.model }}</p>
					  <a routerLink="/cars/edit/{{c.id}}" class="btn btn-info">Edit</a>
                      <a (click)="deleteCar(c.id.toString())" class="btn btn-danger">Delete</a>
					</div>
				</div>
			</div>
        </div>
</div>